<!doctype html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    <div class='container' data-role='page'>
      <div data-role='header'>
        <div><h2>MotiveWorld</h2></div>
      </div>

      <%- body %>
    </div>
  </body>
</html>
