<!doctype html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/javascripts/socket.io.js"></script>

    <div class='container' data-role='page'>
      <div data-role='header'>
        <div><h2>MotiveWorld</h2></div>
      </div>

      <%- body %>
    </div>
  </body>
</html>
